* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    font-family: Montserrat;
    font-size: 24px;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7rem 2rem 3.5rem;
}

.logo {
    transition-duration: 0.2s;
}

.logo:hover {
    scale: 1.05;
    opacity: 0.8;
}

.button {
    transition-duration: 0.2s;
    font-weight: 700;
}

.button:hover {
    scale: 1.05;
}

.button--orange {
    background-color: #fa4a0c;
}

.button--trans {
    border: 1px solid #fff;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    font-size: calc(2rem / 3);
    font-weight: 600;
}

.header__menu-link {
    position: relative;
    transition-duration: 0.2s;
}

.header__menu-link::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0%;
    height: 1px;
    translate: -50% 0%;
    background-color: #fa4a0c;
    transition-duration: 0.2s;
}

.header__menu-link:hover {
    color: #fa4a0c;
}

.header__menu-link:hover::after {
    width: 100%;
}

.header__menu-link.is-active {
    color: #fa4a0c;
}

.section {
    margin-bottom: 2.5rem;
}

.hero {
    position: relative;
    color: #fff;
    height: calc(100vh - 165px);
}

.hero__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(#17101099, transparent) padding-box,
        url(./assets/hero-bg.jpg) center/cover no-repeat padding-box;
    z-index: -1;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 54px;
    height: 100%;
    padding-inline: 1rem;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
}

.hero__text-subtitle {
    font-weight: 700;
    line-height: 1.5rem;
}

.hero__text-title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
}

.hero__buttons {
    display: flex;
    gap: 2.5rem;
    line-height: 1.5rem;
}

.hero__buttons-delivery,
.hero__buttons-menu {
    width: 10rem;
    font-weight: 700;
    line-height: 1.5rem;
    border-radius: 30px;
    padding: calc(2rem / 3) 2.5rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12rem;
    max-width: 1000px;
    padding-inline: 1rem;
}

.info-block:nth-child(odd) {
    flex-direction: row-reverse;
}

.info-block__content {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.info-block__content-subtitle {
    font-weight: 700;
    line-height: 1.5rem;
    color: #fa4a0c;
}

.info-block__content-title {
    font-weight: 700;
    font-size: calc(1rem + 2rem / 3);
    line-height: 2.5rem;
}

.info-block__content-text {
    line-height: 1.5rem;
}

.order {
    position: relative;
    color: #fff;
    height: calc(100vh - 165px);
}

.order__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(#17101099, transparent) padding-box,
        url(./assets/order-bg.jpg) center/cover no-repeat padding-box;
    z-index: -1;
}

.order__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 54px;
    height: 100%;
    padding-inline: 1rem;
}

.order__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
}

.order__info-title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
}

.order__buttons {
    display: flex;
    gap: 2.5rem;
}

.order__buttons-playstore,
.order__buttons-appstore {
    font-size: calc(2rem / 3);
    border-radius: 10px;
}

.order__buttons-playstore {
    padding: 0.75rem 1.3rem;
}

.order__buttons-appstore {
    padding: calc(2rem / 3) 2rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 7rem 1rem 3.5rem;
}

.footer__copywright {
    font-weight: 700;
    font-size: 0.5rem;
}
